input, label{
    display:block;
}

div{
    background-color:#b5ffb9;
    color: #495732;
    padding: 0px 0px 0px 20px;
    width: 350px;
    height: 270px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

div > p {
    font-size: 20pt;
}